.vexilar .card .average{background-color: #4ac1a1!important;}
.loweance .card .average{background-color: #000000!important;}
.humminbird .card .average{background-color: #0064ff!important;}
.raymarine .card .average{background-color: #ff0000!important;}
.garmin .card .average{background-color: #8ec9f5!important;}
.gofree .card .average{background-color: #4ac1a1!important;}
.digital_yacht .card .average{background-color: #f08e1d!important;}
.beg .card .average{background-color: #ff0000!important;}
.simrad .card .average{background-color: #027900!important;}

.view-cards{
	min-height: 200px;
}

.error-data{ 
	margin: 0 auto; 
	text-align: center; 
	display: block;
	vertical-align: middle;
	height: 200px;
	position: relative;
	line-height: 200px;
}
